@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

h1,
h2,
h3{
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}/* COMPILADO */
h4{
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4em;
    text-align: center;
}/* COMPILADO */
h5{
    color: hsl(0, 0%, 0%);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
}/* COMPILADO */
h6{
    color: hsl(0, 0%, 0%);
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
}/* COMPILADO */

.logo{
    height: 4em;
    width: auto;
}/* COMPILADO */
.cuotas{
    text-align: center;
    background-color:#f6a700;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 1em;
}/* COMPILADO */
.bg-mustard{
    text-align: center;
    background-color: #f6a700;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
} /* COMPILADO */
#navbarSupportedContent ul li a{
    font-family: 'Bebas Neue', cursive; 
    font-size: 1.5em;
    background-color: white;
    transition: background-color .2s;
}/* COMPILADO */
#navbarSupportedContent ul li a:hover{
    text-decoration: underline;
 }/* COMPILADO */

/* botones search, cuenta y carrito */
.btn-primary, .btn-primary:hover, .btn-primary:active{
    background-color: #ffffff;
    border-color:  #ffffff;
}/* COMPILADO */
.typetext{
    color: hsl(0, 0%, 0%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}/* COMPILADO */
.typetext1{
    color: hsl(0, 0%, 0%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}/* COMPILADO */
.typetext2{
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}/* COMPILADO */
.typetext3{
    color: hsl(0, 0%, 0%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
}/* COMPILADO */
.text-bg{
    background-color: #2F1608;
}/* COMPILADO */
.btn{
    color: hsl(0, 0%, 0%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #f6a700;
}/* COMPILADO */
.text-dark{
    color: hsl(0, 0%, 0%);
    font-family: 'Bebas Neue', cursive; 
    font-size: 1.5em;
}/* COMPILADO */
.text-light{
    color: hsl(0, 0%, 100%);
    font-family: 'Bebas Neue', cursive; 
    font-size: 1.5em;
}/* COMPILADO */


#products .price {
    text-align: center;
/* no va */


#products h1{
    background-color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: hsl(0, 0%, 0%);
    text-align: center;
    justify-content: space-evenly;
    padding: 15px 0%;
    margin: 15px 0%;
}

#products .allproducts{
    background-color: white;
    color: hsl(0, 0%, 0%);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}/* COMPILADO */



.redes{
    height: 2em;
    width: auto;
}/* COMPILADO */

