$mainColor: rgb(0, 0, 0);
$secondaryColor: hsl(0, 0%, 100%);

$mainbgColor: hsl(0, 0%, 100%);
$secondarybgColor: hsl(41, 100%, 48%);
$tertiarybgColor: hsl(22, 71%, 11%);

$mainFont: 'Bebas Neue', cursive;
$secondaryFont: 'Montserrat', sans-serif;

$fontsize1: 1em;
$fontsize2: 1.2em;
$fontsize3: 1.4em;
$fontsize4: 1.5em;
$fontsize5: 2em;

$textalign: center;
$justify: space-evenly;